/* ---- variables ---- */

:root {
  --main-black: #252525;
  --main-white: #FBFBFB;
  --main-orange: #FF9D71;
  --main-purple: #7971FF;
  --main-yellow: #FFCF71;
  --main-red: #FF7171;
  --main-pink: #DA71FF;
  --main-blue: #719EFF;
  --main-light-orange: #FFB671;  
  --main-shadow: #25252538;  

}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ---- typography ---- */

body {
  color: var(--main-black, black);
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 2.8em;
  text-shadow: 0px 2px 4px var(--main-shadow);
}

h2 {
  font-family: 'Righteous', cursive;
}

h3 {}

p {
  margin: 0;
}

/*----------- navbar -----------*/

#site-nav {
  display: flex;
  justify-content: space-between;
  padding: 10% 5%;
  background: url("images/orange-triangle.png") no-repeat 50% 0px;
}

/* ----- burger menu ----- */
.burger-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5em;
}
.burger-menu > span {
  text-transform: uppercase;
  font-size: 0.85rem;
}

#nav-toggle { 
  z-index: 10;
  cursor: pointer; 
  padding: 10px 30px 14px 0px;
}

#nav-toggle span, 
#nav-toggle span:before, 
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: var(--main-purple, #7971FF);
  position: absolute;
  display: block;
  content: '';
  transition: all .2s ease-in-out;
}

#nav-toggle span:before {
  top: -7px; 
}

#nav-toggle span:after {
  bottom: -7px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, 
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.menu {
  position: absolute;
  top: -670px;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all .4s ease;
}

.menu.visible {
  top: 0;
  opacity: 1;
}

.menu li {
  padding: 30px;
}

/*----------- header -----------*/

#site-header section {
  width: 77%;
  margin: 0 auto 50px;
}

#site-header h1 {
  line-height: 1.2;
  margin: 20px 0 0;
}

#site-header h1 > span {
  display: block;
}

.letter-d-logo {
  background: transparent url("images/d-desktop.svg") no-repeat 0 7px;
  display: inline-block;
  width: 29px;
  background-size: contain;
  text-indent: -9999px;
  margin-right: -1px;
}

.dot-logo {
  background: transparent url("images/dot-desktop.svg") no-repeat 0 35px;
  display: inline-block;
  width: 12px;
  background-size: contain;
  text-indent: -9999px;
}

.typed::before {
  content: 'esigned';
  animation: changing-word ease-in infinite 8s 0.5s;
}

@keyframes changing-word {
  0%{
    content: 'esigned';
  }
  35%{
    content: 'etermined';
  }
  50%{
    content: 'iscovered';
  }
  75%{
    content: 'efined';
  }
  100%{
    content: 'elivered';
  }
}

/*----------- main -----------*/

/*------- event -------*/

.event-container {
  background: url("images/bg-full-color-mobile.svg") no-repeat -20px 0;
  height: 30em;
  background-size: cover;
  padding: 25% 12%;
}

.date {
  color: var(--main-white);
  font-weight: 700;
  font-size: 1.7em;
  text-transform: uppercase;
}

.event-container h2 {
  font-size: 2.5em;
  margin: 10px 0 40px;
}

.address {
  color: var(--main-white);
  font-size: 1.5em;
  font-weight: 700;
}

.address span {
  display: block;
  color: var(--main-black);
  font-size: 0.62em;
  font-weight: 400;
  padding-top: 5px;
}

.event-container p:last-child {
  color: var(--main-white);
  margin-top: 40px;
}

