/* ---- variables ---- */

:root {
  --main-black: #252525;
  --main-white: #FBFBFB;
  --main-orange: #FF9D71;
  --main-purple: #7971FF;
  --main-yellow: #FFCF71;
  --main-red: #FF7171;
  --main-pink: #DA71FF;
  --main-blue: #719EFF;
  --main-light-orange: #FFB671;  
  --main-shadow: #25252538;  
  --main-grey: #717171;  
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

.container {
  width: 77%;
  margin: 0 auto;
}

figure {
  margin: 0;
}

/* ---- typography ---- */

body {
  color: var(--main-black, black);
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 2.8em;
  text-shadow: 0px 2px 4px var(--main-shadow);
}

h2 {
  font-family: 'Righteous', cursive;
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
  margin: 10px 0;
}

h4.section-small-title {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
  margin: 0;
  padding: 10% 5% 0;
  color: var(--main-purple);
}

h5 {
  text-transform: uppercase;
  font-size: 0.8em;
}

p {
  margin: 0;
}

.menu li {
  font-family: 'Righteous', cursive;
  font-size: 1.8em;
}

/*----------- navbar -----------*/

#site-nav {
  display: flex;
  justify-content: space-between;
  padding: 10% 5%;
  background: url("images/orange-triangle.svg") no-repeat 50% 0px;
}

/* ----- burger menu ----- */
.burger-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5em;
}
.burger-menu > span {
  text-transform: uppercase;
  font-size: 0.85rem;
}

#nav-toggle { 
  z-index: 10;
  cursor: pointer; 
  padding: 10px 30px 14px 0px;
}

#nav-toggle span, 
#nav-toggle span:before, 
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: var(--main-purple, #7971FF);
  position: absolute;
  display: block;
  content: '';
  transition: all .2s ease-in-out;
}

#nav-toggle span:before {
  top: -7px; 
}

#nav-toggle span:after {
  bottom: -7px;
}

#nav-toggle.active {
  position: fixed;
  right: 20px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, 
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.menu {
  position: absolute;
  top: -670px;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 32px;
  opacity: 0;
  transition: all .4s ease;
  background: url("images/bg-menu-mobile.svg") no-repeat 0 0;
  background-size: cover;
}

.menu.visible {
  top: 0;
  opacity: 1;
  position: fixed;
  overflow: hidden;
}

.menu li {
  padding: 30px;
}

.menu li a {
  color: var(--main-white);
}


/*----------- index - header -----------*/

#site-header section {
  margin-bottom: 50px;
}

#site-header h1 {
  line-height: 1.2;
  margin: 20px 0 0;
}

#site-header h1 > span {
  display: block;
}

.d-logo {
  background: transparent url("images/d-desktop.svg") no-repeat 0 7px;
}

.t-logo {
  background: transparent url("images/t-desktop.svg") no-repeat -2px 8px;
}

.p-logo {
  background: transparent url("images/p-desktop.svg") no-repeat 0 15.5px;
}

.letter {
  display: inline-block;
  width: 29px;
  background-size: contain;
  text-indent: -9999px;
  margin-right: -1px;
}

.dot-logo {
  background: transparent url("images/dot-desktop.svg") no-repeat 0 35px;
  display: inline-block;
  width: 12px;
  background-size: contain;
  text-indent: -9999px;
}

.typed::before {
  content: 'esigned';
  animation: changing-word ease-in infinite 8s 0.5s;
}

@keyframes changing-word {
  0%{
    content: 'esigned';
  }
  35%{
    content: 'etermined';
  }
  50%{
    content: 'iscovered';
  }
  75%{
    content: 'efined';
  }
  100%{
    content: 'elivered';
  }
}

/*----------- index - main -----------*/

/*------- event -------*/

.event-container {
  background: url("images/bg-full-color-mobile.svg") no-repeat -20px 0;
  height: 30em;
  background-size: cover;
  padding-top: 25%;
}

.date {
  color: var(--main-white);
  font-weight: 700;
  font-size: 1.7em;
  text-transform: uppercase;
}

.event-container h2 {
  font-size: 2.5em;
  margin: 10px 0 40px;
}

.address {
  color: var(--main-white);
  font-size: 1.5em;
  font-weight: 700;
}

.address span {
  display: block;
  color: var(--main-black);
  font-size: 0.6em;
  font-weight: 400;
  padding-top: 5px;
  width: 60%;
}

.event-container p:last-child {
  color: var(--main-white);
  margin-top: 40px;
}

/*------- values -------*/

h2.section-title {
  margin: 5px 0 80px;
  position: relative;
  padding: 0 5%;
}

h2.section-title::before {
  content: '';
  width: 71px;
  position: absolute;
  height: 73px;
  background-size: contain;
  z-index: -1;
  top: -7px;
  left: -16px;
}

.values-container h2.section-title::before {
  background: transparent url("images/triangle-purple.svg") no-repeat 0 0;
}

.values-container li {
  margin-bottom: 20%;
}

.values-container h3 {
  position: relative;
}

.values-container li:first-child h3:after {
  content: '1.';
  background: url("images/shape-yellow.svg") no-repeat 0 0;
}

.values-container li:nth-child(2) h3:before {
  content: '2.';
  background: url("images/shape-red.svg") no-repeat 0 0;
  padding: 28px 18px;
}

.values-container li:nth-child(3) h3:after {
  content: '3.';
  background: url("images/shape-pink.svg") no-repeat 0 0;
  padding: 28px 18px;
}

.values-container li:nth-child(4) h3:before {
  content: '4.';
  background: url("images/shape-blue.svg") no-repeat 0 0;
  padding: 28px 18px;
}

.values-container li:nth-child(5) h3:after {
  content: '5.';
  background: url("images/shape-orange.svg") no-repeat 0 0;
  padding: 28px 18px;
}

.values-container li:nth-child(odd) h3::after {
  right: -20px;
}

.values-container li:nth-child(even) h3::before {
  left: -20px;
}

.values-container li h3::after,
.values-container li h3::before {
  font-size: 3.5rem;
  font-family: 'Righteous', cursive;
  width: 100px;
  position: absolute;
  height: 108px;
  background-size: 80px;
  top: -30px;
  padding: 28px;
}

.values-container li:nth-child(odd) h3,
.values-container li:nth-child(odd) p {
  padding-right: 30%;
}

.values-container li:nth-child(even) h3,
.values-container li:nth-child(even) p {
  padding-left: 30%;
}

/*------- works overview -------*/

.works-overview-container {
  position: relative;
}

.works-overview-container h2.section-title::before {
  background: transparent url("images/triangle-yellow.svg") no-repeat 0 0;
}

.works-overview-container h2.section-title {
  display: inline;
}

a.see-all-btn {
  position: absolute;
  right: 7%;
  background: url(images/line-small.svg) no-repeat 0 22px;
  background-size: contain;
  height: 30px;
}

.works-overview-container .work {
  width: 100%;
  /* @todo desktop box-shadow: 0 2px 4px var(--main-shadow); */
  display: block;
  margin: 20px 0 40px;
}

.works-overview-container img {
  width: 100%;
}

.works-overview-container figure {
  position: relative;
}

.works-overview-container figcaption {
  /* @todo in desktop 
  opacity: 1;
  background: url("images/bg-work-info.svg") no-repeat 0 0;
  background-size: cover;
  position: absolute;
  bottom: 4px;
  width: 100%;
  padding: 20px;
  transition: opacity 1s;
  */
}

.works-overview-container h5:first-child {
  color: var(--main-orange);
}

/* @todo desktop .works-overview-container figure:hover > figcaption {
  opacity: 1;
} */

/*------- clients -------*/

.clients-container h2 {
  margin-bottom: 20px;
}

.clients-container h2.section-title::before {
  background: transparent url("images/triangle-pink.svg") no-repeat 0 0;
}

.clients-container article {
  width: 60%;
  margin: 20px auto 40px;
  background: url("images/line-big.svg") no-repeat 0 100%;
  padding-bottom: 20px; 
}

.clients-container img {
  margin-bottom: 10px;
}

/*----------- index - footer -----------*/

footer {
  background-color: var(--main-red);
  color: var(--main-white);
  text-align: center;
  padding: 10px;
}

/*----------- letters -----------*/

.letter.t-logo {
  width: 23px;
}

.letter.p-logo {
  width: 28px;
  height: 60px;
  background-size: 30px;
  margin-right: 0;
}

/*----------- team - main -----------*/

/*------- team -------*/

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  width: 49%;
  background-color: var(--main-white);
  box-shadow: 0px 2px 4px var(--main-shadow);
  margin-bottom: 2%;
}

.team-container .img-member-container {
  width: 100%;
  height: 265px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.team-member img {
  height: 100%;
}

.team-member h5 {
  text-transform: uppercase;
  color: var(--main-purple);
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 5px;
}

.team-txt {
  padding: 10px;
}

/*------- hiring -------*/

.hiring-container {
  padding-bottom: 20px;
}

.hiring-container h2.section-title {
  margin-bottom: 25px;
}

.hiring-container .address {
  color: var(--main-purple);
  margin-bottom: 30px;
}

.btn-cta {
  display: block;
  background-color: var(--main-orange);
  color: var(--main-white);
  padding: 10px 20px;
  box-shadow: 0px 2px 4px var(--main-shadow);
  width: 80%;
  margin: 10px 0 20px;
  text-align: center;
}

/*----------- works - main -----------*/

.hiring-container h2.section-title::before {
  background: transparent url("images/triangle-blue.svg") no-repeat 0 0;
}

/*------- card -------*/

.work-card div {
  width: 100%;
  height: 374px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.work-card div img {
  height: 100%;
}

.work-txt img {
  width: 40%;
}

.btn-more {
  color: var(--main-orange);
  background: url("images/line-small.svg") no-repeat 0 100%;
  padding-bottom: 10px; 
  background-size: contain;
  font-size: 1.3em;
  margin: 20px 0;
  display: inline-block;
}

/*----------- project - main -----------*/

/*------- breadcrumbs -------*/

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs p, 
.breadcrumbs a {
  text-transform: uppercase;
  color: var(--main-blue);
  font-size: 0.875em;
}

.breadcrumbs a {
  font-weight: 700;
}

#site-header .project-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

.work-details {
  color: var(--main-grey);
  font-size: 0.875em;
  font-weight: 300;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px;
  line-height: 1.57;
}

.work-details.first {
  margin-bottom: 0; 
}
.work-details:last-child {
  display: inherit; 
}

.work-details h5 {
  color: var(--main-black);
  font-weight: 700;
  font-size: 0.89em;
  margin: 0 5px 0 0;
}

.work-details li {
  margin: 5px 0;
}

/*------- hero + process -------*/

.process-container h2.section-title::before {
  background: transparent url("images/triangle-orange-dark.svg") no-repeat 0 0;
}

.work-team-container h2.section-title::before {
  background: transparent url("images/triangle-yellow.svg") no-repeat 0 0;
}

.more-container h2.section-title::before {
  background: transparent url("images/triangle-red.svg") no-repeat 0 0;
}

.work-hero-container {
  width: 100vw;
  height: 490px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.work-hero-container img {
  height: 100%;
}

.photos-process {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 15px;
}

.img-container {
  width: 80%;
  height: 155px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px var(--main-shadow);
}

.img-container img {
  width: 100%;
}

.img-container:nth-child(odd) {
  justify-self: end;
}

/*------- team -------*/

.work-team-card.team-member div {
  height: 178px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}

.work-team-card.team-member img {
  height: 100%;
}

.more-container h2.section-title {
  display: inline;
}

.more-card-container a {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
}

